{# Template for add products page, extends base template. #}
{%  extends "base.html.twig" %}
{% block title %}
    Add product
{% endblock %}
{% block body %}
    <h2 class="pt-5 pb-3">Add product</h2>
    {# Simple form for adding a product, to be prossesed by controller set as action. Automatically find correct path. #}
    <form action="{{ path('create_product') }}" method="post" id="add_product_form">
        <div class="form-group">
            <label for="product_name_input">Product name</label>
            <input type="text" class="form-control" name="product_name" id="product_name_input" value="Product name">
        </div>
        <div class="form-group">
            <label for="product_price_input">Product price</label>
            <input type="number" class="form-control"  name="product_price" id="product_price_input" value="100">
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Add product" id="add_product_submit">
        </div>
    </form>
{%  endblock %}
