{# Home page template, extends base template and adds homepage content to the base template. #}
{%  extends "base.html.twig" %}
{% block title %}Homepage{% endblock %}
{% block body %}
    <h2 class="pt-5 text-center">Site under construction!</h2>
    <p class="text-center">Site is still somewhat badly under construction.</p>
    <h2 class="text-center pb-2" id="add_product_h2">Add product</h2>
    <p class="text-center">
        {# Automatically add correct path to link that directs to new product page #}
        <a href="{{ path('list_products') }}">Link to products listing</a>
    </p>
    <p class="text-center">
        <a href="{{ path('new_product') }}">Link to add product page</a>
    </p>
{%  endblock %}