{%  extends "base.html.twig" %}
{% block title %}Homepage{% endblock %}
{% block body %}
    <h2 class="pt-5 text-center">Site under construction!</h2>
    <p class="text-center">Site is badly under construction.</p>
{%  endblock %}